@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@keyframes textColor {
  0% {
    color: #f50000;
  }
  25% {
    color: orange;
  }
  50% {
    color: yellow;
  }

  75% {
    color: green;
  }
  100% {
    color: red;
  }
}

.header-background {
    display: flex;
    justify-content: center;
    padding: 1em;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 73.8vw;
    padding: 1em;
  }

  #header-logo {
    font-size: 25px;
    font-weight: bold;
    color: #F9FAF8;
    margin-left: 11.7vw;
    animation: textColor 10s ease infinite;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    margin-right: 11.5vw;
    color: white;
    font-size: 17px;
  }

  a {
    text-decoration: none;
    color: #F9FAF8;
  }